[submodule "ThirdParty/phantomstyle"]
	path = ThirdParty/phantomstyle
	url = https://github.com/randrew/phantomstyle.git
[submodule "ThirdParty/QHexView"]
	path = ThirdParty/QHexView
	url = https://github.com/Dax89/QHexView.git
