name: Build Wario Land 4 Editor

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    name: WL4Editor
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest, ubuntu-latest]
    steps:
      - name: Download Submodules
        uses: actions/checkout@v2
        with:
          submodules: true
          
      - name: Install Python 3.7 version
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
          architecture: 'x64'  

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: 5.14.1

      - name: Setup MSVC environment
        if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build WL4Editor on Windows
        if: startsWith(matrix.os, 'windows')
        run: |
          dir %Qt5_Dir%/lib/cmake
          qmake WL4Editor.pro
          nmake debug
        shell: cmd

      - name: Build WL4Editor on *nix
        if: (!startsWith(matrix.os, 'windows'))
        run: |
          ls $Qt5_Dir/lib/cmake
          qmake WL4Editor.pro
          make
        shell: bash
